.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.wrapper {
  align-items: center;
  justify-content: center;
}

.wrapper .rowGap {
  margin-left: 2rem;
}

.wrapper .logo {
  height: 16rem;
}

.buttonsWrapper {
  background-color: #045083;
  padding: 2rem 1rem;
}

[data-theme="dark"] .buttonsWrapper {
  background-color: #313131;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.buttons .buttonCustom {
  border-radius: 50px;
  color: var(--ifm-color-primary-darkest);
}

[data-theme='dark'] .buttons .buttonCustom {
  border-radius: 50px;
  background-color: var(--ifm-color-primary);
  border-color: var(--ifm-color-primary);
  color: black;
}
[data-theme='dark'] .buttons .buttonCustom:hover {
  background-color: var(--ifm-color-primary-light);

}
[data-theme='dark'] .buttons .buttonCustom:focus, [data-theme='dark'] .buttons .buttonCustom:active {
  background-color: var(--ifm-color-primary-lighter);
}
